.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
  border: 1.5px solid green;
  border-radius: 5px;
  max-width: 1000px;
}

.title {
  color: green;
  text-transform: uppercase;
  font-size: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  text-align: justify;
}

section li {
  margin: 10px 30px;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .container {
    margin: 10px 10px;
  }
  section {
    margin: 30px 30px;
    font-size: 0.8rem;
    line-height: 1.25rem;
    word-spacing: 0.3px;
  }
  br {
    display: none;
  }
  p {
    margin-bottom: 15px;
  }

  section li {
    margin: 5px 20px 0px 5px;
  }
  ol {
    margin-bottom: 25px;
  }
  section center {
    margin-top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 2em 4em;
  }
  section {
    margin: 2em;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 40px auto;
  }
}

@media print {
  .title {
    font-size: 3rem;
  }
  .container {
    margin: 20px 40px;
    min-height: 1050px;
  }
  section {
    margin: 70px 50px;
    line-height: 30px;
    word-spacing: 5px;
  }
  section center {
    margin-top: 35px;
  }
}
